{% extends 'blog/base.html' %}
{% load post_extras %}
{% block content %}
  <div class="splash-image splash-post-spot">
    <div class="container">
      <div class="section-title">
        <h1>장소</h1>
        <select id="sort-select" onchange="location = this.value;">
          <option value="">순서</option>
          <option class="sort-date" value="?sort=date">최신</option>
          <option class="sort-likes" value="?sort=likes">좋아요</option>
        </select>  
      </div>
    </div>
  </div>
  
  <div class="container">  
    <div class="card-deck">
      {% for spotpost in spotposts %}
        <div class="card card-spots">
          <div class="card-img-top" onclick="location.href='{% url 'post_spot_detail' pk=spotpost.pk %}'" style="background: url({{ spotpost.photo.url }}) no-repeat center; background-size: cover;" alt="vr-image"></div>
          <div class="card-block">
            <a href="{% url 'post_spot_detail' pk=spotpost.pk %}" class="card-title" >{{ spotpost.title }}</a>
            <div class="flex-space-between">
              <div class="btn-group">
                <input type="button" class="btn btn-sm btn-secondary btn-like" name="{{ spotpost.pk}}" value="Like"></input>
                <div class="btn btn-sm btn-secondary card-spots-text-likes">
                  <span id="count-{{ spotpost.pk }}">{{ spotpost.like_count }}개</span>
                  <span id=""like-user-{{ spotpost.pk }}>
                    {%  for like_user in sootpost.like_user_set.all %}
                        {{ like_user.user }}
                    {% endfor %}
                  </span>
                </div>
                <span>{{ spotpost|add_link|safe|linebreaksbr }}</span>
              </div>
              {% if spotpost.owner == user %}
                <span class="post-button-group">
                  <a class="post-edit" href="{% url "post_spot_edit" pk=spotpost.pk %}"> 
                    <img class="card-svg" src="https://res.cloudinary.com/dxw1lbm7a/image/upload/v1504341794/ic_edit_black_pio8vu.svg" alt="수정">
                  </a>

                  <form class="post-delete" action="{% url "post_spot_delete" pk=spotpost.pk %}" method="post">
                    {% csrf_token %}
                    <input class="post-delete-content card-svg" type="submit" value="" onclick="return confirm('정말 삭제하시겠습니까?')" style="background: url(https://res.cloudinary.com/dxw1lbm7a/image/upload/v1504341794/ic_delete_forever_rmpijt.svg) no-repeat center; background-size: 24px 24px;">
                  </form>                  
                </span>
              {% endif %}
            </div>
            <!-- ◀◀◀ 태그 정보에 대한 코드는 이곳에 추가하세요. -->
          </div>
        </div>
      {% endfor %}
    </div>
  </div>  
{% endblock %}
