<!DOCTYPE html>
<html>
  <head>
    <title>Traveling using VR·LOG</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/application.css' %}?ver=8">
    <link rel="stylesheet" href="{% static 'css/root.css' %}?ver=2">
  </head>

  <body class="post-all-bg">
    <!-- 공통 네비게이션바 in post_all.html-->
    <nav class="navbar navbar-toggleable-sm navbar-light">

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>

      <a class="navbar-brand" href="http://arcane-chamber-81108.herokuapp.com">
        <img src="http://res.cloudinary.com/dxw1lbm7a/image/upload/v1503748628/img-ci_wzdite.png" height="38">
      </a>

      <div class="collapse navbar-collapse container" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://arcane-chamber-81108.herokuapp.com/spot/">장소</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://arcane-chamber-81108.herokuapp.com/accomodation/">숙소</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://arcane-chamber-81108.herokuapp.com/restaurant/">식당</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://arcane-chamber-81108.herokuapp.com/activity/">활동</a>
          </li>
        </ul>
        {% if user.is_active %}
          <ul class="navbar-nav navbar-nav-accounts">
            <li class="nav-item">
              <a class="nav-link" href="{%url 'login' %}">{{user.username}}</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'logout' %}">로그아웃</a>
            </li>
          </ul>
        {% else %}
          <ul class="navbar-nav navbar-nav-accounts">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signup' %}">계정만들기</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="{%url 'login' %}">로그인</a>
            </li>
          </ul>  
        {% endif %}
      </div>
    </nav>

    <div class="root-content">
        <div class="root-title-box container">
          <h2 class="">360˚VR 영상을 둘러보세요.</h1>
        </div>  
        <div class="root-body-box container">
          <div class="card-deck">
            <a href="http://arcane-chamber-81108.herokuapp.com/spot/" class="card">
              <div class="card-block">
                <h6 class="card-title">장소</h6>
                <div class="flex-center">
                  <div class="card-image">
                    <img src="https://res.cloudinary.com/dxw1lbm7a/image/upload/v1503804039/ic_place_w28cg2.png">
                  </div>  
                </div>
              </div>
            </a>    
            <a href="http://arcane-chamber-81108.herokuapp.com/accomodation/" class="card">
              <div class="card-block">
                <h6 class="card-title">숙소</h6>
                <div class="flex-center">
                  <div class="card-image">
                    <img src="https://res.cloudinary.com/dxw1lbm7a/image/upload/v1503804039/ic_hotel_z3amlf.png">
                  </div>  
                </div>
              </div>
            </a>    
            <a href="http://arcane-chamber-81108.herokuapp.com/restaurant/" class="card">
              <div class="card-block">
                <h6 class="card-title">식당</h6>
                <div class="flex-center">
                  <div class="card-image">
                    <img src="https://res.cloudinary.com/dxw1lbm7a/image/upload/v1503804039/ic_restaurant_os5qf5.png">
                  </div>  
                </div>
              </div>
            </a>    
            <a href="http://arcane-chamber-81108.herokuapp.com/activity/" class="card">
              <div class="card-block">
                <h6 class="card-title">활동</h6>
                <div class="flex-center">
                  <div class="card-image">
                    <img src="https://res.cloudinary.com/dxw1lbm7a/image/upload/v1503804039/ic_pool_vktvxw.png">
                  </div>  
                </div>
              </div>
            </a>   
          </div>
        </div>
    </div>

    <h6 class="root-footer">
      2017 VR·LOG │ Created by Hwarang Lee
    </h6> 

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>