
.navbar-light {

}
.navbar-light .navbar-nav .nav-link {
	font-weight: bold;
	color: white;
	font-size: 14px;
	background-color: black;
	padding: 2px 8px;
	margin: 0 2px;
	border-radius: 3px;
}
.navbar-fixed-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}
.navbar-nav-accounts {
	margin-left: auto;
}

@-webkit-keyframes slide {
    from { background-position: 200vh; }
    to { background-position: 0; }
}
.root-jumbotron {
	background: url(https://res.cloudinary.com/dxw1lbm7a/image/upload/v1503752886/bg-vr-04_idnvxy.jpg) repeat-x center center;
	background: url(http://res.cloudinary.com/dxw1lbm7a/image/upload/v1503752092/bg-vr-03_thuduk.jpg) repeat-x center center;
	background-size: cover;
	-webkit-animation: slide 40s linear infinite;
	padding: 62px 16px 0 16px;
	height: 100vh;
	margin-bottom: 0;
	border-radius: 0;
}

.root-title-box,
.root-body-box { 
	max-width: 800px; 
}
.root-title-box,
.root-body-box > .card-deck > .card {
	/*background-color: rgba(0,0,0,.8);*/
	background-color: black;
}
.root-title-box {
	padding: 20px;
	margin: 40px auto 1px auto;
	border-radius: 3px;
	border-bottom: 1px solid rgba(0,0,0,.8);
	color: white;
}
.root-title-box > h1 {
	font-weight: bold;
	margin-left: -2px;
}
.root-title-box > p { 
	margin-bottom: 0; 
}

.root-body-box { padding: 0; }
.root-body-box > .card-deck > .card {
	border: none;
	color: #607D8B;
	margin: 1px;
}
.root-body-box > .card-deck > .card:first-child {
	margin-left: 0;
}
.root-body-box > .card-deck > .card:last-child {
	margin-right: 0;	
}
.root-body-box > .card-deck > .card > .card-block > .card-title {
	color: white;
}
.flex-center {
	display: flex;
  	align-items: center;
  	justify-content: center;
}
.card-block > .btn-sm {
	margin-top: 24px;
}
.card-image {
	padding: 24px;

	border-radius: 200px;
  	background: url(http://thepatternlibrary.com/img/s.png) repeat center;
  	background-size: 116px;

}
.card-image > img {
	
}



.content { margin-bottom: 40px; }
.card-spots {
	width: 240px;
	display: inline-flex;
	margin: 32px 16px 0 16px;
}
.card-spots > .card-img-top {
	color: transparent;
	width: 100%;
	height: 200px;
}
.card-spots > .card-block > .card-title {
	overflow: hidden; 
	text-overflow: ellipsis; 
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */	
	-webkit-box-orient: vertical; 
	word-wrap:break-word;
	min-height: 53px;
}

.card-spots > .card-block > .btn-group > .btn-secondary.card-spots-text-likes:hover {
	background-color: white;
	border-color: #ccc;
	color: #292b2c;
}

